@use "../../../scss/" as *;

.flash-sale-container {
  position: relative;
  margin: 1rem 2rem;
  padding: 1rem 2rem;
  border-radius: 20px;
  background-color: $background-color2;
  height: 280px;
  .flash-sale-header {
    @include flex(space-between, center);
    .flash-sale-timer {
      @include flex(null, center);
    }
    h3 {
      color: $main-color;
      position: relative;
      text-transform: capitalize;
      font-size: 1.5rem;
      overflow: hidden;
    }
  }
  .flash-sale-content {
    position:absolute;
    bottom: 0;
    translate: 0 -20%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 2rem;
  }
}
