@use "../../scss/" as *;
.cart-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid $grey;
  color: $main-color;
  .choose-more {
    @include flex(null, center);
    a {
      color: $main-color;
      &:hover {
        color: $main-hover-color;
      }
    }
  }
}

.cart-container {
  margin: 1rem 4rem;
  display: flex;
  .cart-left {
    border-radius: 10px;
    background-color: $background-color2;
    @include box-shadow();
    width: 70%;
    padding: 0 2rem;
    margin-right: 1rem;
    .cart-body {
      .empty-cart {
        text-align: center;
        font-size: 1.5rem;
      }
      table {
        width: 100%;
        tr {
          td {
            max-width: 200px;
            padding: 10px 5px;
            vertical-align: middle;
            &.price {
              color: $main-color;
              font-weight: bold;
            }
            .remove-item {
              @include flex(center, center);
              border-radius: 50%;
              border: 1px solid $main-color;
              background-color: $white;
              color: $main-color;
              font-size: 20px;
              height: 30px;
              width: 30px;
              cursor: pointer;
              &:hover {
                color: $white;
                background-color: $main-color;
                border: 1px solid $main-color;
              }
            }
            &.image {
              width: 180px;
              img {
                width: 100%;
                height: auto;
              }
            }
            .product-info {
              @include flex(null, space-between);
              flex-direction: column;
              h4 {
                cursor: pointer;
                color: $main-color;
                &:hover {
                  color: $main-hover-color;
                }
              }
              .select-quantity {
                display: flex;
                font-size: 100%;
                overflow: hidden;
                transition: all 0.1s;
                .btn {
                  transition: all 0.1s;
                  font-weight: normal;
                  @include flex(center, center);
                  padding: 0.7rem;
                  color: $main-color;
                  background-color: $white;
                  cursor: pointer;
                  border: 1px solid $main-color;
                  &:hover {
                    color: $white;
                    background-color: $main-color;
                  }
                }
                .quantity {
                  font-size: 90%;
                  text-align: center;
                  height: auto;
                  max-width: 3rem;
                  color: $main-color;
                  border-left: none;
                  border-right: none;
                  border-top: 1px solid $main-color;
                  border-bottom: 1px solid $main-color;
                  outline: none;
                  &::-webkit-outer-spin-button,
                  &::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
#ship-type {
  tr {
    @include flex(flex-end, null);
    font-size: 90%;
  }
}
  .cart-right {
    width: 30%;
    padding: 2rem;
    border-radius: 10px;
    background-color: $background-color2;
    @include box-shadow();
    table {
      width: 100%;
      border-bottom: 2px solid $grey;
      margin-bottom: 1rem;
      tbody {
        tr {
          th {
            padding: 10px 0;
            text-align: left;
            font-size: 0.9em;
            text-transform: inherit;
            font-weight: normal;
            span {
              color: $main-color;
              font-weight: bold;
            }
          }
          td {
            color: $main-color;
            text-align: right;
            font-weight: bold;
            label {
              font-weight: normal;
            }
          }
        }
      }
    }
    .check-out {
      button {
        width: 100%;
        color: $white;
        background-color: $main-color;
        border: 2px solid $main-color;
        padding: 0.5rem 0;
        font-size: 1rem;
        font-weight: bold;
        cursor: pointer;
        @include box-shadow();
        &:hover {
          color: $main-color;
          background-color: $white;
          border: 2px solid $main-color;
        }
        &:active {
          @include shadow-move($main-color);
        }
      }
    }
  }
}
