$mobile-width: 600px;
$tablet-width: 1024px;


$white: #fff;
$black: #000;
$grey: rgb(180, 180, 180);
$grey1: rgb(100, 100, 100);
$red: rgb(255, 29, 29);
$green: rgb(2, 195, 28);
$heart1: #ff7575;

$main-hover-color: #591e4a;
$main-color: #9f257f;

$main-background: #fceef8;
$background-color: #fefefe;
$background-color2: #fdfdfd;
$background-dropdown-color: #d59cc6;

$linear-1: linear-gradient(90deg, rgb(255, 211, 169), rgb(249, 190, 96));
$linear-2: linear-gradient(90deg, rgb(169, 234, 255), rgb(96, 200, 249));
$linear-3: linear-gradient(90deg, rgb(169, 255, 202), rgb(104, 249, 96));
$linear-4: linear-gradient(90deg, rgb(255, 176, 169), rgb(249, 96, 96));
$linear-5: linear-gradient(90deg, rgb(255, 251, 169), rgb(249, 236, 96));
