@use "../../../scss/" as *;

.card-container {
  position: relative;
  border: none;
  border-radius: 10px;
  overflow: hidden;
@include box-shadow();
  transition: all 0.3s;
  img {
    transition: 0.3s;
    width: 100%;
    height: 100%;
    object-fit: fixed;
  }
  &:hover {
    img {
      transform: scale(1.5);
    }
    .btn-wrapper {
      visibility: visible;
      opacity: 1;
      .btn {
        transform: translateY(0%);
        opacity: 1;
      }
    }
    .item-badge-detail {
      transform: translateY(0%);
    }
  }
  .btn-wrapper {
    transition: 0.3s;
    opacity: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    @include flex(center, center);
    background-color: rgba(255, 255, 255, 0.5);
    .btn {
      opacity: 0;
      transform: translateY(60%);
      height: 50px;
      width: 50px;
      border: none;
      outline: none;
      border-radius: 50%;
      padding: 1rem;

      color: $white;
      margin-left: 10px;
      transition: 0.3s ease-in-out;
      font-size: 18px;
      cursor: pointer;
      &:hover,
      :focus {
        animation: pulse2 1s infinite;
        box-shadow: 0 0 0 2em transparent;
      }
      &.btn-1 {
        background-color: $black;
        transition: 0.5s;
      }
      &.btn-2 {
        background-color: $main-color;
        transition: 0.8s;
      }
    }
  }
  .item-badge-detail {
    overflow: hidden;
    height: 30%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    border-radius: 30% 30% 0 0;
    background-color: $white;
    transition: 0.3s;
    transform: translateY(100%);
    z-index: 1;
    h4 {
      color: $red;
    }
  }
}
